/* About Area */
.about_area{
    padding-bottom: 65px;
    padding-top: 40px;
    p{
        font: 400 16px/26px $fan;
        color: $p;
        padding-top: 25px;
    }
    .italic_pragraph {
        padding-left: 120px;
        position: relative;
        font: 400 italic 20px/30px $fan;
        padding-top: 15px;
        padding-bottom: 20px;
        margin-top: 50px;
        &:before{
            content: "“";
            position: absolute;
            left:82px;
            top: 60px;
            font-size: 200px;
            color: #e8e8e8;
            font-style: italic;
            z-index: -1;
        }
    }
    img{
        max-width: 100%;
    }
    .para_row{
        padding-top: 50px;
        padding-bottom: 16px;
        .fast_para{
            padding-top: 0;
            margin-top: -4px;
        }
    }
}
/* End About Area */

/* 404 pages css */
.error_pages{
    border-top: 1px solid #e0e0e0;
    padding: 120px 0;
    .error_content{
        .images_area{
            text-align: center;
        }
        img{
            max-width: 100%; 
            text-align: center;
        }
        .error_text{
            h1{
                font: 400 200px/1 $fan;
                color: $h2;
                margin-top: -20px;
            }
            h4{
                font: italic 30px $fan;
                color: $p;
                padding-top: 40px;
            }
            a{
                color: $h2;
                text-transform: uppercase;
                font: 700 20px $qua;
                display: block;
                padding-top: 40px;
                &:hover, &:focus{
                    color: $p;
                }
                i{
                    padding-left: 15px;
                }
            }
        }
    }
}
/* End 404 pages */




.body {
    background: red;
}