.tranding_news_area.tranding_one_news .tranding_news_one .owl-controls .owl-prev:hover,.tranding_news_area.tranding_one_news .tranding_news_one .owl-controls .owl-next:hover,.recent_news_tow_area .recent_news_tow_row .popular_news .post_tag .tag li a:hover{
    background: #be9756;
    border-color: #be9756;
    color: #fff;
}
.slider_area .slider_inner .camera_caption div .redmore_btn, .slider_area .slider_inner_home .camera_caption div .redmore_btn{
    background: #be9756;
    color: #fff;
}
.tranding_news_area .tranding_news_one .item .food_btn,.main_news .food_btn,.subscribe_to_area .search_from button{
    background: #be9756;
    color: #fff;
}
.tranding_news_area .tranding_news_one .item .food_btn:hover,.main_news .food_btn:hover{
    background: #fff;
    color: #be9756;
}
.tranding_news_area .tranding_news_one .item .tranding_content .tn_tittle:hover,.tranding_news_area .tranding_news_one .item .tranding_content ul li a:hover,.tranding_news_area .tranding_news_one .item .tranding_content ul li:hover,.next_prev ul li a:hover, .next_prev ul li a:focus, .next_prev ul li a.active {
    color: #be9756;
}
.main_news .tranding_content .tn_tittle:hover,.main_news .tranding_content ul li:hover,.main_news .tranding_content ul li a:hover,.item_news .popular_news .media .media-body .tn_tittle:hover,.recent_news_tow_area.sed_labore_area .popular_news.recent_news_left .media .media-body .tn_tittle:hover,.recent_news_tow_area .recent_news_tow_row .recent_news_left .media .media-body ul li:hover,.recent_news_tow_area .recent_news_tow_row .recent_news_left .media .media-body ul li a:hover,.video-item h5:hover,.recent_news_tow_area .recent_news_tow_row .recent_news_left .media .media-body .tn_tittle:hover,.recent_news_tow_area .recent_news_tow_row .popular_news .post_tag .tag li a{
    color: #be9756;
}
.footer_area.footer_one .footer_row .about .social_nav_fotter li a:hover{
    background: #be9756 ;
    border-color: #be9756;
    color: #fff;
}