.recent_news_tow_area.recent_news_eight.recent_news_ten2{
    .recent_news_tow_row.recent_news_11{
        padding-top: 10px;
        .banner_area.fast_banner{
            padding-top: 40px;
            padding-bottom: 20px;
        }
        .banner_area.banner_tow{
            padding-bottom: 15px; 
        }
        .banner_area.banner_3{
            padding-top: 58px;
            padding-bottom: 16px;
        }
        .banner_area.banner-4{
            padding-bottom: 43px;
            padding-top: 45px;
        }
        .next_prev{
            padding-top: 70px;
            padding-bottom: 0px;
            &.ser-nex{
                padding-top: 40px;
            }
        }
        .popular_news.recent_news_left.other_pns{
            padding-top: 35px;
        }
    }
}