/* Search by Area */
.search_by_area{
    border-top: 1px solid #e0e0e0;
    .search_by_row{ 
        padding: 40px 0;
        h4{
            font: 400 14px/40px $qua;
            color: $h2;
            text-transform: uppercase; 
        }
        .search_row{ 
            display: block; 
            padding-left: 10px;
            .input-group{ 
                display: block; 
                width: 100%;
                input{
                    border: 1px solid #e0e0e0;
                    box-shadow: none;
                    outline: none;
                    border-radius: 0;
                    font: 400 14px/40px $fan;
                    color: $p;
                    padding: 0;
                    padding-left: 20px; 
                    height: auto;
                }
                a{
                    position: absolute;
                    right: 0px;
                    font-size: 14px;
                    color: $p;
                    top: 0px;
                    z-index: 3;  
                    width: 50px;
                    text-align: center;
                    line-height:41px;
                } 
                &:hover, &:focus{
                    input{
                        border-color: $h2;
                    }
                    a{
                        background: $h2;
                        color: #fff;
                    } 
                }
            }
        }
    }
}
/* End Search by Area */ 