/*----------------------------------------------------
@File: Default Styles
@Author: Emran Khan
@URL:https://goo.gl/k2rKhn

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below.

	1. Variables
	2. Prefix  


----------------------------------------------------*/
 
/*--------------------------------------------------*/
@import "variables";
/*--------------------------------------------------*/
@import "prefix";
/*--------------------------------------------------*/ 
@import "header";
/*--------------------------------------------------*/ 
@import "recent-b";
/*--------------------------------------------------*/ 
@import "t-news";
/*--------------------------------------------------*/ 
@import "recent-news";
/*--------------------------------------------------*/
@import "protfolio";
/*--------------------------------------------------*/ 
@import "subscribe";
/*--------------------------------------------------*/ 
@import "instagrammed";
/*--------------------------------------------------*/
@import "banner";
/*--------------------------------------------------*/
@import "slider";
/*--------------------------------------------------*/
@import "gallery";
/*--------------------------------------------------*/ 
@import "content";
/*--------------------------------------------------*/ 
@import "comments";
/*--------------------------------------------------*/ 
@import "sed";
/*--------------------------------------------------*/ 
@import "flickr";
/*--------------------------------------------------*/ 
@import "bk-news";
/*--------------------------------------------------*/ 
@import "travel-left";
/*--------------------------------------------------*/ 
@import "sed-post";
/*--------------------------------------------------*/ 
@import "recent-8";
/*--------------------------------------------------*/
@import "recent-9";
/*--------------------------------------------------*/ 
@import "recent-10";
/*--------------------------------------------------*/
@import "recent-11";
/*--------------------------------------------------*/
@import "news-gallery";
/*--------------------------------------------------*/ 
@import "single-post";
/*--------------------------------------------------*/ 
@import "filter";
/*--------------------------------------------------*/
@import "search";
/*--------------------------------------------------*/ 
@import "popup";
/*--------------------------------------------------*/ 
@import "about";
/*--------------------------------------------------*/
@import "contact";
/*--------------------------------------------------*/
@import "map";
/*--------------------------------------------------*/ 
@import "archive";
/*--------------------------------------------------*/ 
@import "megamenu"; 
/*--------------------------------------------------*/ 
///*--------------------------------------------------*/ 
//@import "color"; 
///*--------------------------------------------------*/ 





/*--------------------------------------------------*/ 
@import "footer";
/*--------------------------------------------------*/  